.search-box {
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 300px;
  line-height: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-family: bigelow rules;
  font-size: 32px;
}
